<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".Calendar"
            android:exported="false"
            android:label="@string/title_activity_calendar" />
        <activity
            android:name=".TrainResult"
            android:exported="false"
            android:label="@string/title_activity_train_result" />
        <activity
            android:name=".Train"
            android:exported="false"
            android:label="@string/title_activity_train" />
        <activity
            android:name=".Phone"
            android:exported="false"
            android:label="@string/title_activity_phone" />
        <activity
            android:name=".FormResult"
            android:exported="false"
            android:label="@string/title_activity_form_result" />
        <activity
            android:name=".FormJava"
            android:exported="false"
            android:label="@string/title_activity_form_java" />
        <activity
            android:name=".HelloWorld"
            android:exported="false"
            android:label="@string/title_activity_hello_world" />
        <activity
            android:name=".Form"
            android:exported="false"
            android:label="@string/title_activity_form" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>